<template>
    <section >
        <el-table :data="tree" class="bmgl" border v-loading="treeLoading">
            <el-table-tree-column :remote="remote" file-icon="icon icon-file" folder-icon="icon icon-folder" prop="label" label="部门简称"></el-table-tree-column>
            <el-table-column id="text_center" prop="label_qc" label="部门全称" align="center"></el-table-column>
            <el-table-column prop="description" label="部门简介" align="center"></el-table-column>
            <el-table-column prop="" label="操作" width="200px;" align="center">
                <template scope="scope">
                    <el-button  type="info" size="small" @click="editBm(scope.$index, scope.row)">编辑</el-button>
                    <el-button  type="success" size="small" @click="addBm(scope.$index, scope.row)">新建</el-button>
                    <el-button type="danger" size="small" @click="remBm(scope.$index, scope.row)">删除</el-button>
                </template>
            </el-table-column>
        </el-table>

        <!--所属部门树-->
        <el-dialog class="max-height" title="选择所属部门" v-model="bmxzTreeVisible" >
            <el-input placeholder="输入关键字进行过滤" v-model="bmxzFilterText"></el-input>
            <el-tree :data="bmxzData" highlight-current  :props="bmxzProps" @node-click="clickNode" :expand-on-click-node=false :load="loadNode" lazy :filter-node-method="bmxzFilterNode" ref="bmxzTree" style=""></el-tree>
            <div slot="footer" class="dialog-footer">
                <p style="float:left">当前所选部门:&nbsp;<span v-text="parentNode.label"></span></p>
                <el-button type="primary" @click.native="bmxzSubmit">确定</el-button>
            </div>
        </el-dialog>

        <!--编辑界面-->
        <el-dialog title="编辑" v-model="editFormVisible" :close-on-click-modal="false" @close="closeDialog" size="tiny">
            <el-form :model="editForm" label-width="82px" :rules="editFormRules" ref="editForm">
                <el-form-item v-show="!isRootNode" label="上级部门" prop="pid" :error="errorMsg.pid">
                    <el-input v-model="editForm.pid.label"  disabled><el-button slot="append" icon="search" @click="showBmxzDialog">替换部门</el-button></el-input>
                </el-form-item>
                <el-form-item label="部门编号" prop="fbmbh" :error="errorMsg.fbmbh">
                    <el-input v-model="editForm.fbmbh" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="部门名称" prop="fbmmc" :error="errorMsg.fbmmc">
                    <el-input v-model="editForm.fbmmc" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="部门全称" prop="fbmqc" :error="errorMsg.fbmqc">
                    <el-input v-model="editForm.fbmqc" auto-complete="off"></el-input>
                </el-form-item>
                <!--<el-form-item label="明细否" prop="mxf">-->
                <!--<el-radio class="radio" v-model="editForm.fmx" :label=1 >是</el-radio>-->
                <!--<el-radio class="radio" v-model="editForm.fmx" :label=0 >否</el-radio>-->
                <!--</el-form-item>-->
                <el-form-item label="排序" prop="forder" :error="errorMsg.forder">
                    <el-input-number v-model="editForm.forder" @change="" :min="0" ></el-input-number>
                </el-form-item>
                <el-form-item label="部门备注" prop="fnote" :error="errorMsg.fnote">
                    <el-input type="textarea" v-model="editForm.fnode" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click.native="editFormVisible = false">取消</el-button>
                <el-button type="primary" @click.native="editSubmit" :loading="editLoading">提交</el-button>
            </div>
        </el-dialog>

        <!--新增界面-->
        <el-dialog title="新增" v-model="addFormVisible" :close-on-click-modal="false" size="tiny">
            <el-form :model="addForm" label-width="82px" :rules="addFormRules" ref="addForm">
                <el-form-item label="上级部门" prop="pid" :error="errorMsg.pid">
                    <el-input v-model="addForm.pid.label"  disabled><el-button slot="append" icon="search" @click="showBmxzDialog">替换部门</el-button></el-input>
                </el-form-item>
                <el-form-item label="部门编号" prop="fbmbh" :error="errorMsg.fbmbh">
                    <el-input v-model="addForm.fbmbh" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="部门名称" prop="fbmmc" :error="errorMsg.fbmmc">
                    <el-input v-model="addForm.fbmmc" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="部门全称" prop="fbmqc" :error="errorMsg.fbmqc">
                    <el-input v-model="addForm.fbmqc" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="明细否" prop="mxf" :error="errorMsg.mxf">
                    <el-radio class="radio" v-model="addForm.fmx" :label=1 >是</el-radio>
                    <el-radio class="radio" v-model="addForm.fmx" :label=0 >否</el-radio>
                </el-form-item>
                <el-form-item label="排序" prop="forder" :error="errorMsg.forder">
                    <el-input-number v-model="addForm.forder" @change="" :min="0" ></el-input-number>
                </el-form-item>
                <el-form-item label="部门备注" prop="fnote" :error="errorMsg.fnote">
                    <el-input type="textarea" v-model="addForm.fnode" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click.native="addFormVisible = false">取消</el-button>
                <el-button type="primary" @click.native="addSubmit" :loading="addLoading">提交</el-button>
            </div>
        </el-dialog>
    </section>
</template>
<script>
    import { getBmzdTree, addBmzdTree, editBmzdTree, remBmzdTree, getBmzd } from "../../api/api";
    export default {
        data() {
            return {

                tree:[],
                treeLoading: false,
                isRootNode:false,
                //部门树
                bmxzTreeVisible: false,
                bmxzFilterText:"",
                bmxzData:[],
                parentNode:{},
                bmxzProps:{
                    label: 'label',
                    isLeaf: "isLeaf"
                },
                //编辑界面
                editFormVisible: false,
                editLoading: false,
                editFormRules: {
                    label :[
                        { required: true, message: '请输入部门名称', trigger: 'blur' }
                    ]
                },
                currentEditForm: null,
                editForm: {
                    pid: {},//上级ID 1
                    fbmbh:"",//部门编号 1
                    fbmmc:"",//部门名称 1
                    fbmqc:"",//部门全称 0
                    lquzd: {
                        id:""
                    },//所属区域 0
                    fmx:1,//明细否 1
                    forder:0,//序号 0
                    fnote:""//备注 0
                },
                //新增页面
                addFormVisible: false,
                addLoading: false,
                addFormRules: {
                    fbmbh:[
                        {required: true, message: "请输入部门编号", trigger:"blur"}
                    ],
                    fbmmc:[
                        {required: true, message: "请输入部门名称", trigger:"blur"}
                    ]
                },
                addForm: {
                    pid: {},//上级ID 1
                    fbmbh:"",//部门编号 1
                    fbmmc:"",//部门名称 1
                    fbmqc:"",//部门全称 0
                    lquzd: {
                        id:""
                    },//所属区域 0
                    fmx:1,//明细否 1
                    forder:0,//序号 0
                    fnote:""//备注 0
                },
                errorMsg: {

                }
            }},
        mounted(){
            this.load();
        },
        watch:{
            bmxzFilterText(val){
                this.$refs.bmxzTree.filter(val);
            }
        },
        methods: {
            load() {
                this.treeLoading = true;
                getBmzdTree().then(
                    response => {
                        if (response.data.code == -100) {
                            this.listLoading = false;
                            this.$message.error(response.data.msg);
                            return;
                        }
                        this.treeLoading = false;
                        this.tree = response.data;

                    },
                    error => {
                        this.treeLoading = false;
                        this.$message.error(error);
                    })
            },
            //获取子节点
            remote (row, callback) {
                this.treeLoading = true;
                let params = {id: row.id, label: row.label };
                getBmzdTree(params).then(
                    response => {
                        if (response.data.code == -100) {
                            this.treeLoading = false;
                            this.$message.error(response.data.msg);
                            return;
                        }
                        this.treeLoading = false;
                        callback(response.data);
                    },
                    error => {
                        this.treeLoading = false;
                        this.$message.error(error);
                    })
            },
            //显示选择部门
            showBmxzDialog(){
                this.bmxzTreeVisible = true;
            },
            // 打开编辑提交
            editBm: function (index, row) {
                console.log(row);
                console.log("黄金亮");
                if (row.depth <= 1) this.isRootNode=true;
                let params = { id: row.id };
                getBmzd(params).then((response) => {
                    if (response.data.code == -100) {
                        this.$message.error(response.data.msg);
                        return;
                    }
                    this.editFormVisible = true;
                    this.parentNode = {
                        id: row.parent_id,
                        label: row.parent_name
                    };
                    this.editForm = Object.assign({}, response.data);
                    this.editForm.pid = this.parentNode;
                },(error) => {
                    this.$message.error(error);
                })
            },
            editSubmit: function () {
                this.$refs.editForm.validate((valid) => {
                    if (valid) {
                        this.$confirm("确认提交吗？", "提示", {}).then(() => {
                            this.editLoading = true;
                            let params = Object.assign({}, this.editForm);
                            params.pid = params.pid.id;
                            editBmzdTree(params).then((response) => {
                                let message = "提交成功";
                                if(response.data.code == -100) {
                                    message = response.data.msg;
                                    this.$message.error(message);
                                    let errors = response.data.errors.errors;
                                    errors.forEach((error) => {
                                        this.errorMsg[error.field] = error.message;
                                    });
                                    this.addLoading = false;
                                    return;
                                }
                                this.$message({
                                    message:message,
                                    type:"success"
                                });
                                this.editLoading = false;
                                this.$refs["editForm"].resetFields();
                                this.editFormVisible = false;
                                this.load();
                            }, () => {
                                this.editLoading = false;
                                this.$message.error(err);
                            });
                        },() => {this.$message("取消编辑操作");})
                    }
                })
            },
            //打开新建提交
            addBm: function (index, row) {
                this.parentNode = {
                    id: row.id,
                    label: row.label
                };
                this.addFormVisible = true;
                this.addForm.pid = this.parentNode;
            },
            addSubmit: function () {
                this.$refs.addForm.validate((valid) => {
                    if (valid){
                        this.$confirm("确认提交么？", "提示", {}).then(() => {
                            this.addLoading = true;
                            let params = Object.assign({}, this.addForm);
                            params.pid = params.pid.id;
                            addBmzdTree(params).then((response) => {
                                let message = "提交成功";
                                if(response.data.code == -100) {
                                    message = response.data.msg;
                                    this.$message.error(message);
                                    let errors = response.data.errors.errors;
                                    errors.forEach((error) => {
                                        this.errorMsg[error.field] = error.message;
                                    });
                                    this.addLoading = false;
                                    return;
                                }
                                this.$message({
                                    message:"提交成功",
                                    type:"success"
                                });
                                this.addLoading = false;
                                this.$refs["addForm"].resetFields();
                                this.addFormVisible = false;
                                let p = { id:params.pid };
                                this.load();
                            },(err) => {
                                this.addLoading = false;
                                this.$message.error(err);
                            })
                        },() => {
                            this.$message("取消新建操作!")
                        })
                    }
                })
            },
            //选择部门提交
            bmxzSubmit(){
                this.bmxzTreeVisible = false;
                this.addForm.pid = this.parentNode;
                this.editForm.pid = this.parentNode;
            },
            clickNode(data, node, self) {
                this.parentNode = {
                    label: data.label,
                    id: data.id
                }
            },
            bmxzFilterNode(val, data){
                if(!val)return true;
                return data.label.indexOf(val) !== -1;
            },
            loadNode (node, resolve){
                let params = { id: node.data.id,label: node.data.label };
                getBmzdTree(params).then(response => {
                    if (response.data.code == -100) {
                        this.$message.error(response.data.msg);
                        this.listLoading = false;
                        return;
                    }
                    response.data.forEach((item) => {
                        if (item.child_num <= 0){
                            item.isLeaf = true;
                            item.children = [];
                        }
                    });
                    return resolve(response.data);
                },error => {
                    this.$message.error(error);
                })
            },
//            删除按钮
            remBm(index, row){
                this.$confirm('确认删除该记录吗?', '提示', {
                    type: 'warning'
                }).then(() => {
                    this.listLoading = true;
                    let params = {id: row.id};
                    remBmzdTree(params).then((response) => {
                        if (response.data.code == -100) {
                            this.$message.error(response.data.msg);
                            this.listLoading = false;
                            return;
                        }
                        this.listLoading = false;
                        this.$message({
                            message: "删除成功",
                            type: "success"
                        });
                        this.load();
                    }).catch((error) => {
                        this.$message.error(error)
                    })
                }).catch(() => {
                    this.$message("取消操作");
                });
            },
//            dialog关闭了
            closeDialog(){
                this.isRootNode = this.isRootNode? false:false;
            }
        }
    }
</script>

<style lang="scss" scoped>
    .bmgl {
        margin-top: 10px;
    }
</style>