<template>
    <section id="main_box">
        <!--工具条-->
        <el-col id="search_cell" :span="24" class="toolbar" style="padding-bottom: 0px;">
            <el-form :inline="true" :model="filters">
                <el-form-item>
                    <el-input v-model="filters.pName" placeholder="参数名称"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" v-on:click="load">查询</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="handleAdd">新增</el-button>
                </el-form-item>
            </el-form>
        </el-col>



        <el-col  id="table_cell" :span="24" style="flex-grow: 1;">
            <el-table :height="tabHeight" :data="lparams" highlight-current-row v-loading="listLoading" border @selection-change="selsChange" style="width: 100%;">
                <el-table-column type="selection"></el-table-column>
                <el-table-column type="index" label="序号" width="70" align="center"></el-table-column>
                <el-table-column prop="pName" label="参数名称" width="122" align="center" sortable></el-table-column>
                <el-table-column prop="pCode" label="参数编码" width="122" align="center" sortable></el-table-column>
                <el-table-column prop="pValue" label="参数值"  width="100" align="center" sortable></el-table-column>
                <el-table-column prop="pStatus" label="参数状态"  width="122" align="center" :formatter="pStatusFormatter" sortable></el-table-column>
                <el-table-column prop="pNote" label="备注"  align="center"></el-table-column>
                <el-table-column prop="dateCreated" label="创建日期"   align="center" sortable></el-table-column>
                <el-table-column prop="lastUpdated" label="更新日期"   align="center" sortable></el-table-column>
                <el-table-column fixed="right" label="操作" align="center" width="150px;">
                    <template scope="scope">
                        <el-button size="small" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                        <el-button type="danger" size="small" @click="handleDel(scope.$index, scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-col>

        <!--工具条-->
        <el-col id="page_cell" :span="24" class="toolbar">
            <el-button type="danger" @click="batchRemove" :disabled="this.sels.length===0">批量删除</el-button>
            <el-pagination @size-change="handSizeChange" @current-change="handleCurrentChange" :page-sizes="[20, 30, 40, 50]" :page-size="max" layout="total, sizes, prev, pager, next, jumper" :total="total" style="float:right;">
            </el-pagination>
        </el-col>
        <!--新增界面-->
        <el-dialog title="新增" v-model="addFormVisible" :close-on-click-modal="false">
            <el-form :model="addForm" label-width="82px" :rules="addFormRules" ref="addForm">
                <el-form-item label="参数名称" prop="pName" :error="errorMsg.pName">
                    <el-input v-model="addForm.pName" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="参数编码" prop="pCode" :error="errorMsg.pCode">
                    <el-input v-model="addForm.pCode" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="参数值" prop="pValue" :error="errorMsg.pValue">
                    <el-input v-model="addForm.pValue" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="参数状态" error="errorMsg.pStatus">
                    <el-radio v-model="addForm.pStatus" class="radio" :label=1 >正常</el-radio>
                    <el-radio v-model="addForm.pStatus" class="radio" :label=0 >删除</el-radio>
                </el-form-item>
                <el-form-item label="参数备注" prop="pNote" :error="errorMsg.pNote">
                    <el-input type="textarea" v-model="addForm.pNote" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click.native="addFormVisible = false">取消</el-button>
                <el-button type="primary" @click.native="addSubmit" :loading="addLoading">提交</el-button>
            </div>
        </el-dialog>
        <!--编辑界面-->
        <el-dialog title="编辑" v-model="editFormVisible" :close-on-click-modal="false">
            <el-form :model="editForm" label-width="82px" :rules="editFormRules" ref="editForm">
                <el-form-item label="参数名称" prop="pName" :error="errorMsg.pName">
                    <el-input v-model="editForm.pName" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="参数编码" prop="pCode" :error="errorMsg.pCode">
                    <el-input v-model="editForm.pCode" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="参数值" prop="pValue" :error="errorMsg.pValue">
                    <el-input v-model="editForm.pValue" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="参数状态" error="errorMsg.pStatus">
                    <el-radio v-model="addForm.pStatus" class="radio" :label=1 >正常</el-radio>
                    <el-radio v-model="addForm.pStatus" class="radio" :label=0 >删除</el-radio>
                </el-form-item>
                <el-form-item label="参数备注" prop="pNote" :error="errorMsg.pNote">
                    <el-input type="textarea" v-model="editForm.pNote" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click.native="editFormVisible = false">取消</el-button>
                <el-button type="primary" @click.native="editSubmit" :loading="editLoading">提交</el-button>
            </div>
        </el-dialog>

    </section>
</template>

<!--定义样式-->
<style>

</style>
<!--页面逻辑-->
<script>
    import { getParamList, addParam, editParam, deleteParam, deleteParamAll} from '../../api/api.js'
    import moment from 'moment'
    export default {
        data() {
            return {
                filters: {
                    pName: ''
                },
                lparams: [],
                listLoading: false,
                sels: [],//列表选中列
                total: 0,
                max: 20,
                offset: 0,
                currentPage: 0,
                tabHeight: 100,
                //新增界面数据
                addFormVisible: false,
                addLoading: false,
                addForm: {
                    pName: "",
                    pCode: "",
                    pValue: "",
                    pStatus: 1,
                    pNote: "",
                    dateCreated: "",
                    lastUpdated: ""
                },
                addFormRules: {
                    pName:[
                        {required: true, message: "请输入参数名称", trigger:"blur"}
                    ],
                    pCode:[
                        {required: true, message: "请输入参数编码", trigger:"blur"}
                    ],
                    pValue:[
                        {required: true, message: "请输入参数值", trigger:"blur"}
                    ]
                },
                //编辑界面
                editFormVisible: false,
                editLoading: false,
                editForm: {
                    pName: "",
                    pCode: "",
                    pValue: "",
                    pStatus: "",
                    pNote: "",
                    dateCreated: "",
                    lastUpdated: ""
                },
                editFormRules: {
                    pName:[
                        {required: true, message: "请输入参数名称", trigger:"blur"}
                    ],
                    pCode:[
                        {required: true, message: "请输入参数编码", trigger:"blur"}
                    ],
                    pValue:[
                        {required: true, message: "请输入参数值", trigger:"blur"}
                    ]
                },
                //错误信息
                errorMsg:{

                },
            }
        },
        mounted(){
            this.load();
            this.reSize();
        },
        computed: {
        },
        methods: {
            reSize: function(){
                $(document).ready(() => {
                    let documentH = $(document).height();
                    let mainOff = $("#main_box").offset();
                    let mainH = documentH - mainOff.top;
                    let searchH = $("#search_cell").outerHeight();
                    let pageH = $("#page_cell").outerHeight();
                    let tableH = mainH - (searchH + pageH + pageH);
                    this.tabHeight = tableH;
                })
            },
            load() {
                this.listLoading = true;
                let params = { max: this.max, offset: this.offset, name: this.filters.pName};
                getParamList(params).then((response) => {
                    if (response.data.code == -100) {
                        this.$message.error(response.data.msg);
                        this.listLoading = false;
                        return;
                    }
                    this.lparams = response.data.rows;
                    this.total = response.data.total;
                    this.max = response.data.max;
                    this.listLoading = false;
                }).catch((error) => {
                    console.log(error);
                    this.listLoading = false;
                })
            },
//            表格过滤
            pStatusFormatter(row, column){
                return (row.pStatus == 1)? "正常":(row.pStatus == 0)? "删除":"异常";
            },
            //多选调用方法
            selsChange: function (sels) {
                this.sels = sels;
            },
            //分页操作方法
            handSizeChange(val){
                this.max = val;
                this.offset = this.max * this.currentPage;
                this.load();
            },
            handleCurrentChange(val) {
                this.currentPage = (val - 1);
                if (this.currentPage <= -1 ){
                    this.currentPage = 0;
                }
                this.offset = this.max * this.currentPage;
                this.load();
            },
            //删除参数
            handleDel: function (index, row) {
                this.$confirm('确认删除该记录吗?', '提示', {
                    type: 'warning'
                }).then(() => {
                    this.listLoading = true;
                    let params = {id: row.id};
                    deleteParam(params).then((response) => {
                        if (response.data.code == -100) {
                            this.$message.error(response.data.msg);
                            this.listLoading = false;
                            return;
                        }
                        this.listLoading = false;
                        this.$message({
                            message: "删除成功",
                            type: "success"
                        });
                        this.load();
                    }).catch((error) => {
                        console.log("删除失败");
                        console.log(error);
                    })
                }).catch(() => {
                    this.$message("取消操作");
                });
            },
            //批量删除
            batchRemove: function () {
                let ids = this.sels.map(item => item.id).toString();
                this.$confirm('确认删除选中记录吗？', '提示', {
                    type: 'warning'
                }).then(() => {
                    this.listLoading = true;
                    let params = {ids: ids};
                    deleteParamAll(params).then((response) => {
                        if (response.data.code == -100) {
                            this.$message.error(response.data.msg);
                            this.listLoading = false;
                            return;
                        }
                        this.listLoading = false;
                        this.$message({
                            message: '删除成功',
                            type: 'success'
                        });
                        this.load();
                    }).catch(() => {
                        this.$message.error("删除失败");
                        this.listLoading = false;
                    })
                })
            },
            //显示编辑界面
            handleEdit: function (index, row) {
                this.editFormVisible = true;
                this.editForm = Object.assign({}, row);
            },
            //编辑提交
            editSubmit: function () {
                this.$refs.editForm.validate((valid) => {
                    if (valid) {
                        this.$confirm("确认提交吗？", "提示", {}).then(() => {
                            this.editLoading = true;
                            let params = Object.assign({}, this.editForm);
                            editParam(params).then((response) => {
                                let message = "提交成功";
                                console.log(response);
                                if (response.data.code == -100) {
                                    message = response.data.msg;
                                    this.$message({
                                        message: message,
                                        type: "error"
                                    });
                                    let  errors = response.data.errors.errors;
                                    errors.forEach((error) => {
                                        this.errorMsg[error.field] = error.message;
                                    });
                                    this.editLoading = false;
                                    return;
                                    //显示错误信息
                                }else {
                                    this.editLoading = false;
                                    this.$message({
                                        message: message,
                                        type: "success"
                                    });
                                    this.$refs["editForm"].resetFields();
                                    this.editFormVisible = false;
                                    this.load()
                                }
                            })
                        },() => {
                            this.$message("取消操作");
                        })
                    }
                })
            },
            //显示新增界面
            handleAdd: function () {
                this.addFormVisible = true;
                this.errorMsg = {};
            },
            //新增提交
            addSubmit: function () {
                this.$refs.addForm.validate((valid) => {
                    if (valid) {
                        this.$confirm('确认提交吗？', '提示', {}).then(() => {
                            this.addLoading = true;
                            let params = Object.assign({}, this.addForm);
                            addParam(params).then((response) => {
                                let message = "提交成功";
                                if (response.data.code == -100) {
                                    message = response.data.msg;
                                    this.$message({
                                        message: message,
                                        type: "error"
                                    });
                                    let  errors = response.data.errors.errors;
                                    errors.forEach((error) => {
                                        this.errorMsg[error.field] = error.message;
                                    });
                                    this.addLoading = false;
                                    return;
                                    //显示错误信息
                                }else{
                                    this.addLoading = false;
                                    this.$message({
                                        message: message,
                                        type: "success"
                                    });
                                    this.$refs["addForm"].resetFields();
                                    this.addFormVisible = false;
                                    this.load();
                                }

                            }).catch((error) => {
                                this.$message(error);
                            });
                        },() => {
                            this.$message("取消操作");
                        });
                    }
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
</style>