<template>
    <section id="main_box">
        <!--工具条-->
        <el-col id="search_cell" :span="24" class="toolbar" style="padding-bottom: 0px;">
            <el-form :inline="true" :model="filters">
                <el-form-item>
                    <el-input v-model="filters.pName" placeholder="权限名称"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" v-on:click="load">查询</el-button>
                </el-form-item>
                <!--<el-form-item>
                    <el-button type="primary" @click="handleAdd">新增</el-button>
                </el-form-item>-->
            </el-form>
        </el-col>

        <el-col  id="table_cell" :span="24" style="flex-grow: 1;">
            <el-table :height="tabHeight" :data="rows" highlight-current-row v-loading="listLoading" border @selection-change="selsChange" style="width: 100%;">
                <el-table-column type="selection"></el-table-column>
                <el-table-column type="index" label="序号" width="80" align="center"></el-table-column>
                <el-table-column type="expand">
                    <template scope="props">
                        <el-table class="animated subtable" :data="props.row.actions" stripe style="width: 100%;height: 100%">
                            <el-table-column prop="faction" label="方法" width="100">
                            </el-table-column>
                            <el-table-column prop="fdesc" label="描述" min-width="120">
                            </el-table-column>
                            <el-table-column prop="fqy" label="启用"  width="125" align="center" sortable>
                                <template scope="scope">
                                    <el-switch v-model="scope.row.fqy" on-text="" off-text=""></el-switch>
                                </template>
                            </el-table-column>
                            <el-table-column prop="fnote" label="备注" min-width="120">
                            </el-table-column>
                            <el-table-column label="操作" align="center" >
                                <template scope="scope">
                                    <el-button type="success" size="small" @click="handleEdit(true ,scope.row)">编辑</el-button>
                                    <!--<el-button type="primary" size="small" @click="handleDel(scope.$index, scope.row)" icon="el-icon-picture">删除</el-button>-->
                                </template>
                            </el-table-column>
                        </el-table>
                    </template>
                </el-table-column>
                <el-table-column prop="fname" label="控制器" min-width="122" align="center" sortable></el-table-column>
                <el-table-column prop="fdesc" label="描述" min-width="122" align="center" sortable></el-table-column>
                <el-table-column prop="ficon" label="图标"  min-width="100" align="center" sortable>
                    <template scope="scope">
                        <i :class='scope.row.ficon'></i>
                    </template>
                </el-table-column>
                <el-table-column prop="fstrict" label="精确控制"  width="125" align="center" sortable>
                    <template scope="scope">
                        <el-switch
                                v-model="scope.row.fstrict"
                                on-text=""
                                off-text=""
                        ></el-switch>
                    </template>
                </el-table-column>
                <el-table-column prop="fqy" label="启用"  width="125" align="center" sortable>
                    <template scope="scope">
                        <el-switch
                                v-model="scope.row.fqy"
                                on-text=""
                                off-text=""
                        ></el-switch>
                    </template>
                </el-table-column>
                <el-table-column prop="fnote" label="备注"  align="center"></el-table-column>
                <el-table-column label="操作" align="center">
                    <template scope="scope">
                        <el-button type="success" size="small" @click="handleEdit(false , scope.row)">编辑</el-button>
                        <!--<el-button type="danger" size="small" @click="handleDel(scope.$index, scope.row)">删除</el-button>-->
                    </template>
                </el-table-column>
            </el-table>
        </el-col>

        <!--工具条-->
        <el-col id="page_cell" :span="24" class="toolbar">
            <!--<el-button type="danger" @click="batchRemove" :disabled="this.sels.length===0">批量删除</el-button>-->
            <el-pagination @size-change="handSizeChange" @current-change="handleCurrentChange" :page-sizes="[20, 30, 40, 50]" :page-size="max" layout="total, sizes, prev, pager, next, jumper" :total="total" style="float:right;">
            </el-pagination>
        </el-col>
        <!--新增界面-->
        <!--<el-dialog title="新增" v-model="addFormVisible" :close-on-click-modal="false">
            <el-form :model="addForm" label-width="82px" :rules="addFormRules" ref="addForm">
                <el-form-item label="控制器" prop="fname" :error="errorMsg.fname">
                    <el-input v-model="addForm.fname" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="描述" prop="fdesc" :error="errorMsg.fdesc">
                    <el-input v-model="addForm.fdesc" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="图标" prop="ficon" :error="errorMsg.ficon">
                    <el-input v-model="addForm.ficon" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="精确控制" error="errorMsg.fstrict">
                    <el-radio v-model="addForm.fstrict" class="radio" :label=1 >正常</el-radio>
                    <el-radio v-model="addForm.fstrict" class="radio" :label=0 >删除</el-radio>
                </el-form-item>
                <el-form-item label="启用" error="errorMsg.fqy">
                    <el-radio v-model="addForm.fqy" class="radio" :label=1 >正常</el-radio>
                    <el-radio v-model="addForm.fqy" class="radio" :label=0 >删除</el-radio>
                </el-form-item>
                <el-form-item label="备注" prop="fnote" :error="errorMsg.fnote">
                    <el-input type="textarea" v-model="addForm.fnote" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click.native="addFormVisible = false">取消</el-button>
                <el-button type="primary" @click.native="addSubmit" :loading="addLoading">提交</el-button>
            </div>
        </el-dialog>-->
        <!--编辑界面-->
        <el-dialog title="编辑" v-model="editFormVisible" :close-on-click-modal="false">
            <el-form :model="editForm" label-width="82px" :rules="editFormRules" ref="editForm">
                <el-form-item v-if="!isChild" label="控制器" prop="fname" :error="errorMsg.fname">
                    <el-input v-model="editForm.fname" auto-complete="off" disabled></el-input>
                </el-form-item>
                <el-form-item v-if="isChild" label="方法" prop="faction" :error="errorMsg.faction">
                    <el-input v-model="editForm.faction" auto-complete="off" disabled></el-input>
                </el-form-item>
                <el-form-item label="描述" prop="fdesc" :error="errorMsg.fdesc">
                    <el-input v-model="editForm.fdesc" auto-complete="off"></el-input>
                </el-form-item>
                <div>
                    <el-form-item v-if="!isChild" class='inline-form' label="图标" prop="ficon" :error="errorMsg.ficon">
                        <template>
                            <el-select v-model="editForm.ficon" placeholder="请选择">
                                <el-option v-for="(item, index) in icons" :key="index" :label="item" :value="item">
                                    <span style="float: left">{{ item }}</span>
                                    <span style="float: right; color: #8492a6; font-size: 13px; margin-right: 10px;" :class="item"></span>
                                </el-option>
                            </el-select>
                        </template>
                    </el-form-item>
                    <el-form-item v-if="!isChild" class='inline-form' label="精确控制" :error="errorMsg.fstrict">
                        <el-switch v-model="editForm.fstrict" on-text="" off-text=""></el-switch>
                    </el-form-item>
                    <el-form-item class='inline-form' label="启用" :error="errorMsg.fqy">
                        <el-switch v-model="editForm.fqy" on-text="" off-text=""></el-switch>
                    </el-form-item>
                </div>
                <el-form-item label="备注" prop="fnote" :error="errorMsg.fnote">
                    <el-input type="textarea" v-model="editForm.fnote" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click.native="editFormVisible = false">取消</el-button>
                <el-button type="primary" @click.native="editSubmit" :loading="editLoading">提交</el-button>
            </div>
        </el-dialog>
    </section>
</template>

<!--定义样式-->
<style>

</style>
<!--页面逻辑-->
<script>
    import { getController, removeController, removeControllerAll, editController,editAction} from '../../api/api.js'
    import moment from 'moment'
    export default {
        data() {
            return {
                filters: {
                    pName: ''
                },
                rows: [],
                listLoading: false,
                sels: [],//列表选中列
                total: 0,
                max: 20,
                offset: 0,
                currentPage: 0,
                tabHeight: 100,
                //新增界面数据
                addFormVisible: false,
                addLoading: false,
                addForm: {

                },
                addFormRules: {

                },
                //编辑界面
                editFormVisible: false,
                editLoading: false,
                isChild: false,
                editForm: {
                    faction: "",
                    fname: "",
                    fdesc: "",
                    ficon: "",
                    fstrict: true,
                    fqy: true,
                    fnote: ""
                },
                editFormRules: {
                },
                icons: [ "el-icon-circle-check", "el-icon-upload", "el-icon-d-caret", "el-icon-date", "el-icon-delete", "el-icon-document", "el-icon-edit", "el-icon-information", "el-icon-loading", "el-icon-menu", "el-icon-setting"],
                //错误信息
                errorMsg:{

                },
            }
        },
        mounted(){
            this.load();
            this.reSize();
        },
        computed: {
        },
        methods: {
            reSize: function(){
                $(document).ready(() => {
                    let documentH = $(document).height();
                    let mainOff = $("#main_box").offset();
                    let mainH = documentH - mainOff.top;
                    let searchH = $("#search_cell").outerHeight();
                    let pageH = $("#page_cell").outerHeight();
                    let tableH = mainH - (searchH + pageH + pageH);
                    this.tabHeight = tableH;
                    // $("#page_cell").offset({
                    //     top: mainH
                    // })
                })
            },
            load() {
                this.listLoading = true;
                let params = { max: this.max, offset: this.offset, name: this.filters.pName};
                getController(params).then((response) => {
                    if (response.data.code == -100) {
                        this.$message.error(response.data.msg);
                        this.listLoading = false;
                        return;
                    }
                    this.rows = response.data.rows;
                    this.total = response.data.total;
                    this.max = response.data.max;
                    this.listLoading = false;
                }).catch((error) => {
                    console.log(error);
                    this.listLoading = false;
                })
            },
            //多选调用方法
            selsChange: function (sels) {
                this.sels = sels;
            },
            //分页操作方法
            handSizeChange(val){
                this.max = val;
                this.offset = this.max * this.currentPage;
                this.load();
            },
            handleCurrentChange(val) {
                this.currentPage = (val - 1);
                if (this.currentPage <= -1 ){
                    this.currentPage = 0;
                }
                this.offset = this.max * this.currentPage;
                this.load();
            },
            //删除参数
            handleDel: function (index, row) {
                console.log(row);
                this.$confirm('确认删除该记录吗?', '提示', {
                    type: 'warning'
                }).then(() => {
                    this.listLoading = true;
                    let params = {id: row.id};
                    removeController(params).then((response) => {
                        if (response.data.code == -100) {
                            this.$message.error(response.data.msg);
                            this.listLoading = false;
                            return;
                        }
                        this.listLoading = false;
                        this.$message({
                            message: "删除成功",
                            type: "success"
                        });
                        this.load();
                    }).catch((error) => {
                        console.log("删除失败");
                        console.log(error);
                    })
                }).catch(() => {
                    this.$message("取消操作");
                });
            },
            //批量删除
            batchRemove: function () {
                let ids = this.sels.map(item => item.id).toString();
                this.$confirm('确认删除选中记录吗？', '提示', {
                    type: 'warning'
                }).then(() => {
                    this.listLoading = true;
                    let params = {ids: ids};
                    removeControllerAll(params).then((response) => {
                        if (response.data.code == -100) {
                            this.$message.error(response.data.msg);
                            this.listLoading = false;
                            return;
                        }
                        this.listLoading = false;
                        this.$message({
                            message: '删除成功',
                            type: 'success'
                        });
                        this.load();
                    }).catch((error) => {
                        this.$message.error("删除失败");
                        this.listLoading = false;
                    })
                })
            },
            //显示编辑界面
            handleEdit: function (index, row) {
                this.isChild = index ? true:false;
                this.editFormVisible = true;
                this.editForm = Object.assign({}, row);
            },
            //编辑提交
            editSubmit: function () {
                this.$refs.editForm.validate((valid) => {
                    if (valid) {
                        this.$confirm("确认提交吗？", "提示", {}).then(() => {
                            this.editLoading = true;
                            let params = Object.assign({}, this.editForm);
                            if(this.isChild) {
                                editAction(params).then((response) => {
                                    if (response.data.code == -100) {
                                        this.$message({
                                            message: response.data.msg,
                                            type: "error"
                                        });
                                        let  errors = response.data.errors.errors;
                                        errors.forEach((error) => {
                                            this.errorMsg[error.field] = error.message;
                                        });
                                        this.editLoading = false;
                                        return;
                                        //显示错误信息
                                    }else {
                                        this.editLoading = false;
                                        this.$message({
                                            message: response.data.msg,
                                            type: "success"
                                        });
                                        this.$refs["editForm"].resetFields();
                                        this.editFormVisible = false;
                                        this.load()
                                    }
                                })
                            }else{
                                editController(params).then((response) => {
                                    if (response.data.code == -100) {
                                        this.$message({
                                            message: response.data.msg,
                                            type: "error"
                                        });
                                        let  errors = response.data.errors.errors;
                                        errors.forEach((error) => {
                                            this.errorMsg[error.field] = error.message;
                                        });
                                        this.editLoading = false;
                                        return;
                                        //显示错误信息
                                    }else {
                                        this.editLoading = false;
                                        this.$message({
                                            message: response.data.msg,
                                            type: "success"
                                        });
                                        this.$refs["editForm"].resetFields();
                                        this.editFormVisible = false;
                                        this.load()
                                    }
                                })
                            }

                        },() => {
                            this.$message("取消操作");
                        })
                    }
                })
            },

            //显示新增界面
            handleAdd: function () {
                this.addFormVisible = true;
                this.errorMsg = {};
            },
            //新增提交
            addSubmit: function () {
                this.$refs.addForm.validate((valid) => {
                    if (valid) {
                        this.$confirm('确认提交吗？', '提示', {}).then(() => {
                            this.addLoading = true;
                            let params = Object.assign({}, this.addForm);
                            addParam(params).then((response) => {
                                let message = "提交成功";
                                if (response.data.code == -100) {
                                    message = response.data.msg;
                                    this.$message({
                                        message: message,
                                        type: "error"
                                    });
                                    let  errors = response.data.errors.errors;
                                    errors.forEach((error) => {
                                        this.errorMsg[error.field] = error.message;
                                    });
                                    this.addLoading = false;
                                    return;
                                    //显示错误信息
                                }else{
                                    this.addLoading = false;
                                    this.$message({
                                        message: message,
                                        type: "success"
                                    });
                                    this.$refs["addForm"].resetFields();
                                    this.addFormVisible = false;
                                    this.load();
                                }

                            }).catch((error) => {
                                this.$message(error);
                            });
                        },() => {
                            this.$message("取消操作");
                        });
                    }
                });
            }
        }
    }
</script>

<style lang="scss" scoped>
</style>