<template>
    <section id="main_box">
        <el-row :gutter="10">
            <el-col id="table_cell" :span="12">
                <el-table :height="tabHeight" ref='table' :data="roles" highlight-current-row v-loading="listLoading"
                          border
                          @row-click="rowClick"
                          @selection-change="selsChange">
                    <el-table-column type="selection">
                    </el-table-column>
                    <el-table-column type="index" label="序号" width="70px" align="center">
                    </el-table-column>
                    <el-table-column prop="authority" label="角色" width="160" align="center" sortable>
                    </el-table-column>
                    <el-table-column prop="fnote" label="备注" align="center">
                    </el-table-column>
                    <el-table-column label="操作" width="150" align="center">
                        <template scope="scope">
                            <el-button size="small" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
                            <el-button type="danger" size="small" @click="handleDel(scope.$index, scope.row)">删除
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <!--工具条-->
                <div class="toolbar mt">
                    <el-button type="danger" @click="batchRemove" :disabled="this.sels.length===0">批量删除</el-button>
                    <el-button type="primary" @click="addFormVisible=true">新增</el-button>
                </div>
            </el-col>

            <el-col id="table_cell_Qx" :span="12">
                <el-tree :style="{height:tabHeight+'px', overflow: 'scroll'}" :default-expand-all="true" ref="tree" :data="tree" show-checkbox
                         node-key="fid" :default-expanded-keys="[2, 3]" :default-checked-keys="seltree"></el-tree>
                <div class="toolbar mt">
                    <el-button type="danger" :disabled="this.currentTableCell == null" @click="saveQx">保存</el-button>
                    <el-button type="success" @click="selectAll" :disabled="this.currentTableCell == null">全选
                    </el-button>
                    <el-button type="warning" @click="backSelect" :disabled="this.currentTableCell == null">反选
                    </el-button>
                </div>
            </el-col>
        </el-row>

        <!--新增界面-->
        <el-dialog title="新增" v-model="addFormVisible" :close-on-click-modal="false">
            <el-form :model="addForm" label-width="82px" :rules="formRules" ref="addForm">
                <el-form-item label="角色名" prop="authority" :error="errorMsg.authority">
                    <el-input v-model="addForm.authority" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="备注" prop="fnote" :error="errorMsg.fnote">
                    <el-input type="textarea" v-model="addForm.fnote" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click.native="addFormVisible = false">取消</el-button>
                <el-button type="primary" @click.native="addSubmit" :loading="addLoading">提交</el-button>
            </div>
        </el-dialog>
        <!--编辑界面-->
        <el-dialog title="编辑" v-model="editFormVisible" :close-on-click-modal="false">
            <el-form :model="editForm" label-width="82px" :rules="formRules" ref="editForm">
                <el-form-item label="角色名" prop="authority" :error="errorMsg.authority">
                    <el-input v-model="editForm.authority" auto-complete="off"></el-input>
                </el-form-item>
                <el-form-item label="备注" prop="fnote" :error="errorMsg.fnote">
                    <el-input type="textarea" v-model="editForm.fnote" auto-complete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click.native="editFormVisible = false">取消</el-button>
                <el-button type="primary" @click.native="editSubmit" :loading="editLoading">提交</el-button>
            </div>
        </el-dialog>
    </section>
</template>

<!--页面逻辑-->
<script>
    import {getRoleList, editRole, deleteRole, addRole, deleteRoleList, savePermission} from "../../api/api";
    export default {
        data() {
            return {
                roles: [],
                tree: [],
                seltree: [],
                listLoading: false,
                sels: [],//列表选中列
                currentTableCell: null,
                total: 0,
                max: 20,
                offset: 0,
                currentPage: 0,
                tabHeight: 100,
                //新增界面
                addFormVisible: false,
                addLoading: false,
                addForm: {
                    authority: "",
                    fnote: ""
                },
                //编辑界面
                editFormVisible: false,
                editLoading: false,
//                表单验证
                formRules: {
                    authority: [
                        {required: true, message: '角色名为必填项', trigger: 'blur'}
                    ]
                },
                currentEditForm: null,
                editForm: {
                    authority: "",
                    fnote: ""
                },
                //错误信息
                errorMsg: {},
            }
        },
        mounted(){
            this.load();
            this.reSize();
        },
        computed: {},
        methods: {
            reSize: function () {
                $(document).ready(() => {
                    let documentH = $(document).height();
                    let mainOff = $("#main_box").offset();
                    let mainH = documentH - mainOff.top;
                    let tableH = mainH - 90;
                    this.tabHeight = tableH;
                })
            },
            load() {
                this.listLoading = true;
                let params = {
                    max: this.max,
                    offset: this.offset
                };
                getRoleList(params).then(
                    response => {
                        if (response.data.code == -100) {
                            this.$message.error(response.data.msg);
                            this.listLoading = false;
                            return;
                        }
                        this.roles = response.data.rows;
                        this.roles.forEach((item, index) => {
                            item.index = index;
                        })
                        this.tree = response.data.gnrows;
                        this.total = response.data.total;
                        this.max = response.data.max;
                        this.$refs.tree.setCheckedKeys([]);
                        this.listLoading = false;
                        // this.$refs.table.setCurrentRow(this.roles[this.currentTableCell.index]);
                    }, error => {
                        this.$message.error(error);
                        this.listLoading = false;
                    }
                )
            },
            //多选调用方法
            selsChange: function (sels) {
                this.sels = sels;
            },
            rowClick(row, event, column) {
                this.currentTableCell = row;
                if (DEV) {
                    console.log("role rowClick" + row);
                }
                let permissions = row.permission.map((item) => {
                    if (item.faction === '**') {
                        return item.fgnbh
                    } else {
                        return item.fgnbh + item.faction
                    }
                });

                let sels = [];
                this.tree.forEach((item) => {
                    if (permissions.indexOf(item.fid) >= 0 && item.children.length == 0) {
                        sels.push(item.fid)
                    }
                    item.children.forEach((child) => {
                        if (permissions.indexOf(child.fid) >= 0) {
                            sels.push(child.fid)
                        }
                    });
                });
                if (DEV) {
                    console.log("role rowClick sels:" + sels);
                }
                this.$refs.tree.setCheckedKeys(sels);
            },
            // 权限保存提交
            saveQx(){
                let currentRoleQx = this.$refs.tree.getCheckedKeys().join(",");
                let params = {role: this.currentTableCell.authority, permission: currentRoleQx};
                this.listLoading = true;
                savePermission(params).then((response) => {
                    if (response.data.code == -100) {
                        this.$message.error(response.data.msg);
                        this.listLoading = false;
                        return;
                    }
                    this.$message(response.data.msg);
                    this.load();
                    this.listLoading = false;
                    // console.log(this.currentTableCell);
                    // this.$refs.table.setCurrentRow(this.currentTableCell);
                    // console.log(this.roles[0]);
                    // this.$refs.table.setCurrentRow(this.roles[0]);                    
                }, (error) => {
                    this.$message.error(error);
                    this.listLoading = false;
                })
            },
            selectAll(){
                let seles = this.tree.map((item) => {
                    return item.fid;
                });
                this.$refs.tree.setCheckedKeys(seles);
            },
            backSelect(){
                let currentSels = this.$refs.tree.getCheckedKeys();
                let backSelect = [];
                this.tree.forEach((item) => {
                    if (currentSels.indexOf(item.fid) < 0 && item.children.length == 0) {
                        backSelect.push(item.fid)
                    }
                    item.children.forEach((child) => {
                        if (currentSels.indexOf(child.fid) < 0) {
                            backSelect.push(child.fid)
                        }
                    });
                });
                this.$refs.tree.setCheckedKeys(backSelect);
            },
            //分页操作方法
            handSizeChange(val){
                this.max = val;
                this.offset = this.max * this.currentPage;
                this.load();
            },
            handleCurrentChange(val) {
                this.currentPage = (val - 1);
                if (this.currentPage <= -1) {
                    this.currentPage = 0;
                }
                this.offset = this.max * this.currentPage;
                this.load();
            },
            //批量删除
            batchRemove: function () {
                this.$confirm('确认删除选中记录吗?', '提示', {
                    type: 'warning'
                }).then(() => {
                    this.listLoading = true;
                    let ids = this.sels.map(item => item.id).toString();
                    let params = {ids: ids};
                    deleteRoleList(params).then((response) => {
                        let message = "操作成功";
                        if (response.data.code == -100) {
                            message = response.data.msg;
                            this.$message.error(message);
                            return;
                        }
                        this.listLoading = false;
                        this.$message({
                            message: message,
                            type: 'success'
                        });
                        this.load();
                    }).catch((error) => {
                        this.$message.error(error);
                        this.listLoading = false;
                    })
                }, () => {
                    this.$message("取消批量删除角色操作");
                })
            },
            //显示编辑界面
            handleEdit: function (index, row) {
                this.editFormVisible = true;
                this.currentEditForm = Object.assign({}, row);
                this.editForm = Object.assign({}, row);
            },
            // 编辑提交
            editSubmit: function () {
                this.$refs.editForm.validate((valid) => {
                    if (valid) {
                        this.$confirm("确认提交吗？", "提示", {}).then(() => {
                            this.editLoading = true;
                            let params = Object.assign({}, this.editForm);
                            editRole(params).then((response) => {
                                let message = "提交成功";
                                if (response.data.code == -100) {
                                    message = response.data.msg;
                                    this.$message.error(message);
                                    let errors = response.data.errors.errors;
                                    errors.forEach((error) => {
                                        this.errorMsg[error.field] = error.message;
                                    });
                                    this.editLoading = false;
                                    return;
                                }
                                this.editLoading = false;
                                this.$message({
                                    message: '修改成功',
                                    type: 'success'
                                });
                                this.$refs['editForm'].resetFields();
                                this.editFormVisible = false;
                                this.load();
                            })
                                .catch((error) => {
                                    this.$message.error(error);
                                    this.editLoading = false;
                                });
                        }, () => {
                            if (DEV) console.log("取消提交");
                        })
                    }
                })
            },
            //新增提交
            addSubmit () {
                this.$refs.addForm.validate((valid) => {
                    if (valid) {
                        this.$confirm("确认提交吗？", "提示", {}).then(() => {
                            this.addLoading = true;
                            let params = Object.assign({}, this.addForm);
                            addRole(params).then((response) => {
                                let message = "提交成功";
                                if (response.data.code == -100) {
                                    message = response.data.msg;
                                    this.$message.error(message);
                                    let errors = response.data.errors.errors;
                                    errors.forEach((error) => {
                                        this.errorMsg[error.field] = error.message;
                                    });
                                    this.addLoading = false;
                                    return;
                                }
                                this.addLoading = false;
                                this.$message({
                                    message: message,
                                    type: 'success'
                                });
                                this.$refs['addForm'].resetFields();
                                this.addFormVisible = false;
                                this.load();
                            }).catch((error) => {
                                this.$message.error(error);
                                this.addLoading = false;
                            });
                        }, () => {
                            this.$message("取消操作")
                        })
                    }
                })
            },
            //删除角色
            handleDel: function (index, row) {
                this.$confirm('确认删除该记录吗?', '提示', {
                    type: 'warning'
                }).then(() => {
                    let params = {id: row.id};
                    deleteRole(params).then((response) => {
                        let message = "操作成功";
                        if (response.data.code == -100) {
                            message = response.data.msg;
                            this.$message.error(message);
                            return;
                        }
                        this.addLoading = false;
                        this.$message({
                            message: message,
                            type: 'success'
                        });
                        this.load();
                    })
                        .catch((error) => {
                            this.$message.error(error);
                            this.addLoading = false;
                        })
                }).catch(() => {
                    this.$message("取消删除角色操作");
                });
            }

        }
    }
</script>

<style lang="scss" scoped>
    .mt {
        margin-top: 0;
    }
    #main_box {
        margin-top: 10px;
    }
</style>