<template>
    <section id="main_box">
        <el-button @click="download">下载测试</el-button>
    </section>
</template>

<!--定义样式-->
<style>

</style>
<!--页面逻辑-->
<script>
    export default {
        data() {
            return {}
        },
        mounted(){
        },
        computed: {
        },
        methods: {
            download(){
                axios.get('api/lfile/downLoadFile/?id=1').catch(function (error) {
                    console.log(error);
                })
            }
        }
    }
</script>

<style lang="scss" scoped>
    #main_box {
        &:before,
        &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
    }
    #main_box {
        position: relative;
        #page_cell {
            position: absolute;
        }
    }
</style>