<template>
    <section id="main_box">
        <!--工具条-->
        <el-col id="search_cell" :span="24" class="toolbar" style="padding-bottom: 0px;">
            <el-form :inline="true" :model="filters">
                <el-form-item>
                    <el-input v-model="filters.fname" placeholder="姓名"></el-input>
                </el-form-item>
                <el-form-item label="用户类型">
                    <el-radio-group  @change="PostChange" v-model="filters.ftype">
                        <el-radio :label="'1'">药监局人员</el-radio>
                        <el-radio :label="'2'">信息员</el-radio>
                        <el-radio :label="'3'">厨师</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" v-on:click="load">查询</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="handleUser">新增</el-button>
                </el-form-item>
            </el-form>
        </el-col>

        <el-col id="table_cell" :span="24" style="flex-grow: 1;">
            <el-table :height="tabHeight" :data="users" highlight-current-row v-loading="listLoading" border
                      @selection-change="selsChange"  style="width: 100%;">
                <el-table-column type="selection"></el-table-column>
                <el-table-column label="序号" type="index" width="70" align="center" fixed="left"></el-table-column>
                <el-table-column prop="fname" label="姓名" width="95" align="center" sortable fixed="left"></el-table-column>
                <el-table-column prop="username" label="用户名" width="108" align="center" sortable fixed="left"></el-table-column>
                <el-table-column prop="lbmzd.fbmmc" label="所属部门" width="116" align="center" sortable></el-table-column>
                <el-table-column prop="fsex" width="88" align="center" label="性别" sortable>
                    <template scope="scope">
                        <span v-text="scope.row.fsex == 1 ? '男' : scope.row.fsex == 0 ? '女' : '未知'"></span>
                    </template>
                </el-table-column>
                <el-table-column prop="fphone" label="联系方式" width="142" align="center" sortable></el-table-column>
                <el-table-column prop="enabled" label="是否管理员" width="135" align="center" sortable>
                    <template scope="scope">
                        <el-switch v-model="scope.row.admin" on-text="是" off-text="否" disabled></el-switch>
                    </template>
                </el-table-column>
                <el-table-column prop="accountLocked" label="是否锁定" width="152" align="center" sortable>
                    <template scope="scope">
                        <span v-text="scope.row.accountLocked ? '是':'否'"></span>
                    </template>
                </el-table-column>
                <el-table-column prop="dateCreated" label="创建时间" width="178" align="center"
                                 sortable></el-table-column>
                <el-table-column prop="lastUpdated" label="更新时间" width="178" align="center"
                                 sortable></el-table-column>
                <el-table-column label="操作" align="center" width="300" fixed="right">
                    <template scope="scope">
                        <el-button size="small" @click="handleUser(scope.$index, scope.row)">编辑</el-button>
                        <el-button type="danger" size="small" @click="handleDel(scope.$index, scope.row)">删除</el-button>
                        <el-button type="warning" size="small" @click="EPassword(scope.row)">密码修改</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-col>
        <!--工具条-->
        <el-col id="page_cell" :span="24" class="toolbar">
            <el-button type="danger" @click="batchRemove" :disabled="this.sels.length===0">批量删除</el-button>
            <el-button type="warning" @click="batchEditPassword" :disabled="this.sels.length===0">批量改密</el-button>
            <el-pagination @size-change="handSizeChange" @current-change="handleCurrentChange" :page-sizes="[20, 30, 40, 50]" :page-size="max"
                           layout="total, sizes, prev, pager, next, jumper" :total="total" style="float:right;">
            </el-pagination>
        </el-col>

        <hLogin :props="editPassword" :userName="editAccount"></hLogin>

        <!--新增修改界面-->
        <el-dialog :title="isEdit ? '新增':'编辑'" v-model="addFormVisible"
                   :close-on-click-modal="false" @close="closeDialog">
            <el-form :model="addForm" label-width="82px" :rules="addFormRules" ref="addForm">
                <el-form-item label="头像" prop="favatar">
                    <el-upload class="avatar-uploader inline-form" :headers="headers"
                               :action="baseUrl"
                               :show-file-list="false"
                               :on-error="handleAvatarError" :on-success="handleAvatarSuccess"
                               :before-upload="beforeAvatarUpload">
                        <img v-if="imageUrl" :src="imageUrl" class="avatar">
                        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                    <div class="inline-form">
                        <p style="margin: 0">注意</p>
                        <ol style="color: #f7ba2a">
                            <li>上传头像图片只能是 JPG 或者 PNG 格式!</li>
                            <li>上传头像图片大小不能超过 1MB!</li>
                        </ol>
                    </div>
                </el-form-item>
                <div>
                    <el-form-item class="inline-form" label="姓名" prop="fname" :error="errorMsg.fname">
                        <el-input v-model="addForm.fname" auto-complete="off" placeholder="请输入姓名"></el-input>
                    </el-form-item>
                    <el-form-item class="inline-form" label="帐号" prop="username" :error="errorMsg.username">
                        <el-input :disabled="!isEdit" v-model="addForm.username" auto-complete="off"
                                  placeholder="请输入帐号"></el-input>
                    </el-form-item>
                </div>
                <div>
                    <el-form-item v-if="isEdit" class="inline-form" label="密码" prop="password" :error="errorMsg.password">
                        <el-input type="password" v-model="addForm.password" auto-complete="off"
                                  placeholder="请输入密码"></el-input>
                    </el-form-item>
                    <el-form-item v-if="isEdit" class="inline-form" label="确认密码" prop="checkPass" :error="errorMsg.password">
                        <el-input type="password" v-model="addForm.checkPass" auto-complete="off"
                                  placeholder="请再次输入密码"></el-input>
                    </el-form-item>
                    <div>
                        <el-form-item class="inline-form" label="性别" prop="fsex" :error="errorMsg.fsex">
                            <el-radio class="radio" v-model="addForm.fsex" :label="1">男</el-radio>
                            <el-radio class="radio" v-model="addForm.fsex" :label="0">女</el-radio>
                        </el-form-item>
                        <el-form-item class="inline-form" label="联系方式" prop="fphone" :error="errorMsg.fphone" >
                            <el-input v-model="addForm.fphone" auto-complete="off" placeholder="请输入联系方式"></el-input>
                        </el-form-item>
                    </div>
                    <el-form-item class="inline-form" label="是否管理员" prop="enabled" :error="errorMsg.admin">
                        <el-switch v-model="addForm.admin" on-color="#13ce66" off-color="#ff4949"></el-switch>
                    </el-form-item>

                    <el-form-item class="inline-form" label="是否锁定" prop="accountLocked" :error="errorMsg.accountLocked">
                        <el-switch v-model="addForm.accountLocked" on-color="#13ce66" off-color="#ff4949"></el-switch>
                    </el-form-item>
                </div>
                <el-form-item class="inline-form" label="角色分配" prop="roles" :error="errorMsg.roles">
                    <el-select @change="rolesChange" v-model="addForm.roles" multiple placeholder="请选择角色">
                        <el-option v-for="i in roleArr" :label="i.authority" :value="i.id" :key="i.id"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item class="inline-form" label="所属部门" prop="lbmzd" :error="errorMsg.lbmzd">
                    <el-input v-model="addForm.lbmzd.fbmmc" disabled>
                        <el-button slot="append" icon="search" @click="showBmxzDialog">查找部门</el-button>
                    </el-input>
                </el-form-item>
                <el-form-item label="职务" prop="ftype" :error="errorMsg.ftype">
                    <el-radio v-model="addForm.ftype" :label="'1'">药监局人员</el-radio>
                    <el-radio v-model="addForm.ftype" :label="'2'">信息员</el-radio>
                </el-form-item>
                <el-form-item label="备注" prop="fnote" :error="errorMsg.fnote">
                    <el-input type="textarea" v-model="addForm.fnote" auto-complete="off"
                              placeholder="请输入备注"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click.native="userFormClose">取消</el-button>
                <el-button type="primary" @click.native="addSubmit" :loading="addLoading">提交</el-button>
            </div>
        </el-dialog>

        <!--所属部门树-->
        <el-dialog class="max-height" title="选择所属部门" v-model="bmxzTreeVisible">
            <el-input placeholder="输入关键字进行过滤" v-model="bmxzFilterText"></el-input>
            <el-tree :data="bmxzData" highlight-current :props="bmxzProps" @node-click="clickNode"
                     :expand-on-click-node=false :load="loadNode" lazy :filter-node-method="bmxzFilterNode"
                     ref="bmxzTree" style=""></el-tree>
            <div slot="footer" class="dialog-footer">
                <p style="float:left">当前所选部门:&nbsp;<span v-text="selectBm.fbmmc"></span></p>
                <el-button type="primary" @click.native="bmxzSubmit">确定</el-button>
            </div>
        </el-dialog>
    </section>
</template>

<!--定义样式-->
<style>

</style>
<!--页面逻辑-->
<script>
    import {
        getUserList,
        getRoleList,
        // getBmzdTree,
        deleteUser,
        deleteUserList,
        editUser,
        addUser,
        getCstjTree
    } from '../../api/api.js'
    import moment from 'moment'
    let baseUrl = window.location.origin;
    export default {
        data() {
            return {
                filters: {
                    fname: "",
                    ftype: "1"
                },
                users: [],
                listLoading: false,
                sels: [],//列表选中列
                authSels: [],
                total: 0,
                max: 20,
                offset: 0,
                currentPage: 0,
                tabHeight: 100,
                imageUrl: "",
                headers: {
                    'x-auth-token': this.$store.getters.token
                },
                isEdit: true,
                bmxzFilterText: "",
                roleArr: [],
                bmzdArr: [],
                quzdArr: [],
//                所属部门
                selectBm: {},
                bmxzData: [],
                bmxzProps: {
                    label: 'label',
                    isLeaf: "isLeaf"
                },
                bmxzTreeVisible: false,
                //新增界面是否显示
                addFormVisible: false,
                addLoading: false,
                //新增界面数据
                addForm: {
                    fname: "",
                    username: "",
                    password: "",
                    checkPass: "",
                    fsex: 1,
                    favatar: "",
                    fphone: "",
                    admin: false,
                    enabled: true,
                    accountLocked: false,
                    roles:[],
                    quzdId: [],
                    ftype: "1",
                    lbmzd: {},
                    fnote: ""
                },
                addFormRules: {
                    username: [
                        {required: true, message: '请输入帐号', trigger: 'blur'}
                    ],
                    password: [
                        {required: true, message: "请输入密码", trigger: 'blur'},
                        {
                            validator: (rule, value, callback) => {
                                if (value === "") {
                                    callback(new Error("请输入密码"));
                                } else {
                                    if (this.addForm.checkPass !== "") {
                                        this.$refs.addForm.validateField("checkPass")
                                    }
                                    callback();
                                }
                            }, trigger: 'blur'
                        }
                    ],
                    checkPass: [
                        {required: true, message: "请再次输入密码", trigger: 'blur'},
                        {
                            validator: (rule, value, callback) => {
                                if (value === "") {
                                    callback(new Error("请再次输入密码"));
                                } else if (value !== this.addForm.password) {
                                    callback(new Error("两次密码不一致！"));
                                } else {
                                    callback();
                                }
                            }, trigger: 'blur'
                        }
                    ],
                    fname: [
                        {required: true, message: '姓名不能为空', trigger: 'blur'}
                    ]
                },
                inDateOptions: {
                    shortcuts: [{
                        text: '一周',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() + 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: '三个月',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() + 3600 * 1000 * 24 * 90);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: '半年',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() + 3600 * 1000 * 24 * 180);
                            picker.$emit('pick', date);
                        }
                    }, {
                        text: '一年',
                        onClick(picker) {
                            const date = new Date();
                            date.setTime(date.getTime() + 3600 * 1000 * 24 * 365);
                            picker.$emit('pick', date);
                        }
                    }]
                },
//                密码修改
                editPassword:{
                    loginVisible: false
                },
                editAccount: "",
                //错误信息
                errorMsg: {

                }
            }
        },
        computed: {
            baseUrl(){
                return baseUrl + "/api/lfile/uploadFile"
            }
        },
        mounted(){
            this.load();
            this.reSize();
            this.loadRoleList();
        },
        watch: {
            bmxzFilterText(val){
                this.$refs.bmxzTree.filter(val);
            }
        },
        methods: {
            reSize: function () {
                $(document).ready(() => {
                    let documentH = $(document).height();
                    let mainOff = $("#main_box").offset();
                    let mainH = documentH - mainOff.top;
                    let searchH = $("#search_cell").outerHeight();
                    let pageH = $("#page_cell").outerHeight();
                    let tableH = mainH - (searchH + pageH + pageH);
                    this.tabHeight = tableH;
                })
            },
            load() {
                this.listLoading = true;
                let params = {max: this.max, offset: this.offset, fname: this.filters.fname, ftype: this.filters.ftype};
                getUserList(params).then((response) => {
                    if (response.data.code == -100) {
                        this.listLoading = false;
                        this.$message.error(response.data.msg);
                        return;
                    };
                    this.listLoading = false;
                    this.users = response.data.rows;
                    this.total = response.data.total;
                    this.max = response.data.max;
                }).catch((error) => {
                    this.listLoading = false;
                });
            },
            loadRoleList(){
                getRoleList().then((response) => {
                    if (response.data.code == -100) {
                        this.$message.error(response.data.msg);
                        return;
                    }
                    this.roleArr = response.data.rows;
                }).catch((error) => {
                    this.$message.error(error);
                });
            },
            PostChange(){
                this.load()
            },
            //多选调用方法
            selsChange: function (sels) {
                this.sels = sels;
            },
            authoritySelsChange: function (sels) {
                this.authSels = sels;
            },
            //分页操作方法
            handSizeChange(val){
                this.max = val;
                this.offset = this.max * this.currentPage;
                this.load();
            },
            handleCurrentChange(val) {
                this.currentPage = (val - 1);
                if(this.currentPage <= -1){
                    this.currentPage = 0;
                }
                this.offset = this.max * this.currentPage;
                this.load();
            },
            //删除角色
            handleDel: function (index, row) {
                this.$confirm('确认删除该记录吗?', '提示', {
                    type: 'warning'
                }).then(() => {
                    this.listLoading = true;
                    let params = {id: row.id};
                    deleteUser(params).then((response) => {
                        if (response.data.code == -100) {
                            this.$message.error(response.data.msg);
                            this.listLoading = false;
                            return;
                        }
                        this.listLoading = false;
                        this.$message({
                            message: "删除成功",
                            type: "success"
                        });
                        this.load();
                    }).catch((error) => {
                        this.listLoading = false;
                        this.$message.error(error);
                    })
                }).catch(() => {
                    this.$message("取消操作");
                });
            },
            //批量删除
            batchRemove: function () {
                let ids = this.sels.map(item => item.id).toString();
                this.$confirm('确认删除选中记录吗？', '提示', {
                    type: 'warning'
                }).then(() => {
                    this.listLoading = true;
                    let params = {ids: ids};
                    deleteUserList(params).then((response) => {
                        if (response.data.code == -100) {
                            this.$message.error(response.data.msg);
                            this.listLoading = false;
                            return;
                        }
                        this.listLoading = false;
                        this.$message({
                            message: '删除成功',
                            type: 'success'
                        });
                        this.load();
                    }).catch((error) => {
                        this.$message.error(error);
                        this.listLoading = false;
                    })
                }, () => {
                    this.$message("取消操作");
                })
            },
//            显示修改密码
            EPassword(row){
                this.editPassword.loginVisible = !this.editPassword.loginVisible;
                this.editAccount = row.username;
            },
            batchEditPassword(){
                this.editPassword.loginVisible = !this.editPassword.loginVisible;
                let array = this.sels.map((item) => {
                    return item.username;
                });
                this.editAccount = array.join(",");
            },
//            显示部门树
            showBmxzDialog: function () {
                this.bmxzTreeVisible = true;
            },
            bmxzSubmit: function () {
                this.bmxzTreeVisible = false;
                this.addForm.lbmzd = this.selectBm;
            },
            loadNode (node, resolve){
                let params = {id: node.data.id};
                getCstjTree(params).then(response => {
                    if (response.data.code == -100) {
                        this.$message.error(response.data.msg);
                        return;
                    }
                    response.data.forEach((item) => {
                        if (item.child_num <= 0) {
                            item.isLeaf = true;
                            item.children = [];
                        }
                    });
                    return resolve(response.data);
                }, error => {
                    this.$message.error(error);
                })
            },
            clickNode(data, node, self) {
                this.selectBm = {
                    fbmmc: data.label,
                    id: data.id
                }
            },
            bmxzFilterNode: function (val, data) {
                if (!val)return true;
                return data.label.indexOf(val) !== -1;
            },
            handleUser: function (index, row) {
//                显示编辑
                if (row) {
                    if (this.isEdit) {
                        this.isEdit = !this.isEdit;
                    }
                    if(typeof row.roles[0] == 'object'){
                        row.roles = row.roles.map((item) => {
                            return item.authority;
                        });
                    }
                    this.addFormVisible = true;
                    if(row["favatar"]){
                        this.imageUrl = '/api/lfile/downLoadFile?fcode=' + row['favatar'];
                    }
                    this.addForm = Object.assign({}, row);
                } else {
//               显示新增
                    this.addForm = {
                        fname: "",
                        username: "",
                        password: "",
                        checkPass: "",
                        fsex: 1,
                        favatar: "",
                        fphone: "",
                        enabled: true,
                        accountLocked: false,
                        roles: [],
                        ftype: "1",
                        lbmzd: {},
                        fnote: ""
                    };
                    if (!this.isEdit) {
                        this.isEdit = !this.isEdit;
                    }
                    this.addFormVisible = true;
                }
            },
            rolesChange(sele){
//                console.log(sele);
            },
            addSubmit: function () {
                if (this.isEdit) {
//                    新增提交
                    this.$refs.addForm.validate((valid) => {
                        if (valid) {
                            this.$confirm('确认提交吗？', '提示', {}).then(() => {
                                this.addLoading = true;
                                let params = Object.assign({}, this.addForm);
                                params.lbmzd = { id:this.selectBm.id, label: params.lbmzd };
                                addUser(params).then((response) => {
                                    let message = "提交成功";
                                    if (response.data.code == -100){
                                        this.addLoading = false;
                                        message = response.data.msg;
                                        this.$message.error(response.data.msg);
                                        let errors = response.data.errors.errors;
                                        errors.forEach((error) => {
                                            this.errorMsg[error.field] = error.message;
                                        });
                                        return;
                                    }
                                    this.addLoading = false;
                                    this.$message({
                                        message: message,
                                        type: "success"
                                    });
                                    this.addFormVisible = false;
                                    this.load();
                                }).catch((error) => {
                                    this.$message.error(error);
                                    this.addLoading = false;
                                });
                            }, () => {
                                this.$message("操作取消");
                            });
                        }
                    });
                } else {
                    //编辑提交
                    this.$confirm("确认提交吗？", "提示", {}).then(() => {
                        this.editLoading = true;
                        let params = Object.assign({}, this.addForm);
                        editUser(params).then((response) => {
                            let message = "提交成功";
                            if (response.data.code == -100){
                                this.editLoading = false;
                                message = response.data.msg;
                                this.$message.error(message);
                                let errors = response.data.errors.errors;
                                errors.forEach((error) => {
                                    this.errorMsg[error.field] = error.message;
                                });
                                this.addLoading = false;
                                return;
                            }
                            this.$message({
                                message: "修改成功",
                                type: "success"
                            });
                            this.$refs["addForm"].resetFields();
                            this.addFormVisible = false;
                            this.load()
                        }).catch((error) => {
                            this.$message.error(error);
                            this.editLoading = false;
                        })
                    },() => {
                        this.$message("取消操作");
                    })
                }

            },
            closeDialog(){
                this.$refs["addForm"].resetFields();
                this.selectBm = {};
                this.imageUrl = "";
            },
//            头像上传
            handleAvatarSuccess(res, file){
                console.log("黄金亮")
                console.log(res);
                if(res.code == -100){
                    this.$message.error(res.msg);
                    return;
                }
                this.addForm.favatar = res.lfile.fcode;
                this.imageUrl = URL.createObjectURL(file.raw);
            },
            handleAvatarError(...arr){
                this.$message.error("上传失败");
            },
            beforeAvatarUpload(file){
                const isJP = file.type === 'image/jpeg' || file.type === 'image/png';
                const isLt2M = file.size / 1024 / 1024 < 1;

                if (!isJP) {
                    this.$message.error('上传头像图片只能是 JPG或PNG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 1MB!');
                }
                return isJP && isLt2M;
            },
            userFormClose: function () {
                this.imageUrl = "";
                this.addFormVisible = false;
                this.$refs["addForm"].resetFields();
            }
        }
    }
</script>

<style lang="scss" scoped>
</style>