<template>
    <div id="login">
        <el-dialog size="tiny" title='修改密码' :visible.sync="props.loginVisible" @close="close">
            <p class="p-account">修改账户:{{ userName }}</p>
            <el-form label-width="80px" :model="passwordForm" :rules="passwordRule" ref="passwordForm">
                <el-form-item label="密码" prop="pwd">
                    <el-input type="password" v-model="passwordForm.pwd"></el-input>
                </el-form-item>
                <el-form-item label="重复输入" prop="checkPass">
                    <el-input type="password" v-model="passwordForm.checkPass"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click.native="props.loginVisible=!props.loginVisible">取消</el-button>
                <el-button type="primary" @click.native="addSubmit" :loading="addLoading">提交</el-button>
            </div>
        </el-dialog>
    </div>
</template>
<script>
    import {updatePassword} from "../../api/api.js"
    export default {
        name: "hLogin",
        data(){
            return {
                addLoading: false,
                passwordForm: {
                    pwd: "",
                    checkPass: ""
                },
                passwordRule: {
                    pwd: [
                        {required: true, message: "请输入密码", trigger: "blur"},
                        {
                            validator: (rule, value, callback) => {
                                if (value === "") {
                                    callback(new Error("请输入密码"));
                                } else {
                                    if (this.passwordForm.checkPass !== "") {
                                        this.$refs.passwordForm.validateField("checkPass")
                                    }
                                    callback();
                                }
                            }, trigger: 'blur'
                        }
                    ],
                    checkPass: [
                        {required: true, message: "请再次输入密码", trigger: "blur"},
                        {
                            validator: (rule, value, callback) => {
                                if (value === "") {
                                    callback(new Error("请再次输入密码"));
                                } else if (value !== this.passwordForm.pwd) {
                                    callback(new Error("两次密码不一致！"));
                                } else {
                                    callback();
                                }
                            }, trigger: 'blur'
                        }
                    ]
                }
            }
        },
        props: {
            props: {
                type: Object,
                required: true,
                loginVisible: {
                    type: Boolean,
                    default: false,
                    required: true
                }
            },
            userName:{
                type: String,
                required: true
            }
        },
        mounted (){
            this.load()
        },
        computed: {

        },
        methods: {
            load(){

            },
            addSubmit(){
                this.$refs.passwordForm.validate((valid) => {
                    if(valid){
                        this.addLoading = true;
                        let params = Object.assign({}, this.passwordForm);
                        params.id = this.userName;
                      updatePassword(params).then((response) => {
                          let message = "修改成功";
                          if(response.data.code = -100){
                              this.addLoading = false;
                              message = response.data.msg;
                               this.$message.error(message);
                          }
                          this.addLoading = false;
                          this.$message(message);
                          this.props.loginVisible = false;
                      }, (error) => {
                          this.addLoading = false;
                          this.$message.error(error);
                      });
                    }
                });
            },
            close(){
                this.$refs["passwordForm"].resetFields();
            }
        }
    }
</script>
<style scoped lang="scss">
    .p-account {
        text-align: center;
        word-break: break-all;
    }
</style>