<template>
    <el-form :model="ruleForm" :rules="rules2" ref="ruleForm" label-position="left" label-width="0px"
             class="demo-ruleForm login-container">
        <h3 class="title">{{ name }}</h3>
        <el-form-item prop="username">
            <el-input type="text" v-model="ruleForm.username" auto-complete="off" placeholder="请输入账号"></el-input>
        </el-form-item>
        <el-form-item prop="password">
            <el-input type="password" v-model="ruleForm.password" auto-complete="off" placeholder="请输入密码" @keyup.native.enter="handleSubmit2"></el-input>
        </el-form-item>
        <el-checkbox v-model="isSave"  class="remember" @change="checkedChenge">记住密码</el-checkbox>
        <el-button type="text" id="btn_wjmm" @click.native.prevent="handleReset2">重置</el-button>
        <el-form-item style="width:100%;">
            <el-button id="submit" type="primary" style="width:100%;" @click.native.prevent="handleSubmit2" :loading="logining">登录</el-button>
        </el-form-item>
        <div class="RQ_box">
        <el-popover ref='zoom' placement='top-start' trigger='hover'>
            <img src="/static/public/images/RQApp.png" alt="">
        </el-popover>
        <img v-popover:zoom v-img src="/static/public/images/RQApp.png" alt="">
        <h3>农村聚餐App</h3>
        </div>
        <div class="block" v-if="isQtLogin">
            <span class="demonstration">社交帐号登录</span>
            <el-button class="qt_login fa fa-qq" type="primary"></el-button>
            <el-button class="qt_login fa fa-weixin" type="primary"></el-button>
        </div>
    </el-form>
</template>

<script>
    import {requestLogin} from '../api/api';

    export default {
        data() {
            return {
                logining: false,
                ruleForm: {
                    username: "",
                    password: ""
                },
                isSave: this.$store.getters.saveChecked,
                rules2: {
                    username: [
                        {required: true, message: '请输入用户名', trigger: 'blur'}
                    ],
                    password: [
                        {required: true, message: '请输入密码', trigger: 'blur'}
                    ]
                },
                
                isQtLogin: false
            };
        },
        computed: {
            name(){
                return this.$store.getters.name
            }
        },
        mounted () {
            this.init()
        },
        methods: {
            init () {
                if (this.$store.getters.saveChecked) {
                    console.log('为真')
                    if (this.$store.getters.account) {
                        console.log('获取')
                        console.log(this.$store.getters.account)
                        this.ruleForm = this.$store.getters.account
                    }
                }
            },
            checkedChenge(event) {
                this.$store.dispatch("save", this.isSave)
            },
            handleReset2() {
                this.$refs.ruleForm.resetFields();
            },
            handleSubmit2(ev) {
                this.$refs.ruleForm.validate((valid) => {
                    if (valid) {
                        this.logining = true;
                        let params = Object.assign({}, this.ruleForm)
                        console.log(params)
                        requestLogin(params).then(data => {
                            if (data.code == -100 ) {
                                this.$message.error(data.msg);
                                this.logining = false;
                            }else{
                                let currentUser = data;
                                this.$store.dispatch("addUser",currentUser);
                                if(this.isSave){
                                    console.log('存储')
                                    this.$store.dispatch("saveAcc", params)
                                } else {
                                    this.$store.dispatch("removeAcc")
                                }
                                this.$router.replace({ path: "User" });
                            }
                        },
                        error => {
                            if (DEV)console.log(error);
                            this.logining = false;
                            if(error.status == "401"){
                                this.$message.error("账户不存在");
                            }
                            if (DEV)console.log(error);
                        });
                    } else {
                        if (DEV)console.log('error submit!!');
                        return false;
                    }
                });
            }
        }
    }

</script>

<style lang="scss" scoped>
    .login-container {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        background-clip: padding-box;
        margin: 180px auto;
        width: 350px;
        padding: 35px 35px 15px 35px;
        background: #fff;
        border: 1px solid #eaeaea;
        box-shadow: 0 0 25px #cac6c6;
        .title {
            margin: 0px auto 40px auto;
            text-align: center;
            color: #505458;
        }
        .remember {
            margin: 0px 0px 20px 0px;
        }
        #btn_wjmm {
            color: #ff4949;
            float: right;
            margin-top: -5px;
        }
        .block {
            text-align: center;
        }
        .demonstration {
            display: block;
            color: #8492a6;
            font-size: 14px;
            margin-bottom: 20px;
        }
    }
    .RQ_box {
        text-align: center;
        img {
            width: 100px;
        }
    }
</style>