@charset "UTF-8";
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    /* Radio
  -------------------------- */
    /* Select
  -------------------------- */
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    /* Pagination
 -------------------------- */
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Menu
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
    /* Transfer
  --------------------------*/
}

.el-popover{
    position: absolute;
    background: #fff;
    min-width: 150px;
    border-radius: 2px;
    border: 1px solid rgb(229, 211, 209);
    padding: 10px;
    z-index: 2000;
    font-size: 12px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .12),
                0px 0px 6px 0px rgba(0, 0, 0, .04);
}

.el-popover .popper__arrow, .el-popover .popper__arrow::after{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.el-popover .popper__arrow{
    border-width: 6px;
}

.el-popover .popper__arrow::after{
    content: " ";
    border-width: 6px;
}

.el-popover[x-placement^="top"]{
    margin-bottom: 12px;
}

.el-popover[x-placement^="top"] .popper__arrow{
    bottom: -6px;
    left: 50%;
    margin-right: 3px;
    border-top-color: rgb(229, 211, 209);
    border-bottom-width: 0;
}

.el-popover[x-placement^="top"] .popper__arrow::after{
    bottom: 1px;
    margin-left: -6px;
    border-top-color: #fff;
    border-bottom-width: 0;
}

.el-popover[x-placement^="bottom"]{
    margin-top: 12px;
}

.el-popover[x-placement^="bottom"] .popper__arrow{
    top: -6px;
    left: 50%;
    margin-right: 3px;
    border-top-width: 0;
    border-bottom-color: rgb(229, 211, 209);
}

.el-popover[x-placement^="bottom"] .popper__arrow::after{
    top: 1px;
    margin-left: -6px;
    border-top-width: 0;
    border-bottom-color: #fff;
}

.el-popover[x-placement^="right"]{
    margin-left: 12px;
}

.el-popover[x-placement^="right"] .popper__arrow{
    top: 50%;
    left: -6px;
    margin-bottom: 3px;
    border-right-color: rgb(229, 211, 209);
    border-left-width: 0;
}

.el-popover[x-placement^="right"] .popper__arrow::after{
    bottom: -6px;
    left: 1px;
    border-right-color: #fff;
    border-left-width: 0;
}

.el-popover[x-placement^="left"]{
    margin-right: 12px;
}

.el-popover[x-placement^="left"] .popper__arrow{
    top: 50%;
    right: -6px;
    margin-bottom: 3px;
    border-right-width: 0;
    border-left-color: rgb(229, 211, 209);
}

.el-popover[x-placement^="left"] .popper__arrow::after{
    right: 1px;
    bottom: -6px;
    margin-left: -6px;
    border-right-width: 0;
    border-left-color: #fff;
}

.el-popover__title{
    color: rgb(61, 34, 31);
    font-size: 13px;
    line-height: 1;
    margin-bottom: 9px;
}
:root{
    /* Transition
  -------------------------- */
    /* Colors
  -------------------------- */
    /*--color-primary: #20a0ff;*/
    /* Link
  -------------------------- */
    /* Border
  -------------------------- */
    /* Box-shadow
  -------------------------- */
    /* Fill
  -------------------------- */
    /* Font
  -------------------------- */
    /* Size
  -------------------------- */
    /* z-index
  -------------------------- */
    /* Disable base
  -------------------------- */
    /* Icon
  -------------------------- */
    /* Checkbox
  -------------------------- */
    /* Radio
  -------------------------- */
    /* Select
  -------------------------- */
    /* Alert
  -------------------------- */
    /* Message Box
  -------------------------- */
    /* Message
  -------------------------- */
    /* Notification
  -------------------------- */
    /* Input
  -------------------------- */
    /* Cascader
  -------------------------- */
    /* Group
  -------------------------- */
    /* Tab
  -------------------------- */
    /* Button
  -------------------------- */
    /* cascader
  -------------------------- */
    /* Switch
 -------------------------- */
    /* Dialog
 -------------------------- */
    /* Table
 -------------------------- */
    /* Pagination
 -------------------------- */
    /* Popover
 -------------------------- */
    /* Tooltip
  -------------------------- */
    /* Tag
  -------------------------- */
    /* Dropdown
  -------------------------- */
    /* Badge
  -------------------------- */
    /* Card
  --------------------------*/
    /* Slider
  --------------------------*/
    /* Steps
  --------------------------*/
    /* Menu
  --------------------------*/
    /* Rate
  --------------------------*/
    /* DatePicker
  --------------------------*/
    /* Loading
  --------------------------*/
    /* Scrollbar
  --------------------------*/
    /* Carousel
  --------------------------*/
    /* Collapse
  --------------------------*/
    /* Transfer
  --------------------------*/
}