<template>
	<div id="app">
		<transition name="fade" mode="out-in">
			<router-view></router-view>
		</transition>
	</div>
</template>

<script>
export default {
	name: 'app',
	components: {
	}
}

</script>

<style lang="scss">
body {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
}

#app {
	position: absolute;
	top: 0px;
	bottom: 0px;
	width: 100%;
}

.el-submenu [class^=fa] {
	vertical-align: baseline;
	margin-right: 10px;
}

.el-menu-item [class^=fa] {
	vertical-align: baseline;
	margin-right: 10px;
}

.toolbar {
	min-width: 148px;
	background: #f2f2f2;
	padding: 10px;
	margin: 10px 0px;
	.el-form-item {
		margin-bottom: 10px;
	}
}

.fade-enter-active,
.fade-leave-active {
	transition: all .2s ease;
}

.fade-enter,
.fade-leave-active {
	opacity: 0;
}
// 表格cell选中颜色
.el-table__body tr.current-row>td {
	// background-color: #d9edf7 !important;
}

/*主表单自适应*/
#main_box {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}
#main_box {
	position: relative;
	#page_cell {
		// position: absolute;
		position: static;
            margin-top: 0;
	}
}

    #main_box {
        #page_cell {
            
        }
    }

.el-table .cell {
	padding: 5px !important;
}
/*头像上传*/
.avatar-uploader .el-upload {
	border: 1px dashed #d9d9d9;
	border-radius: 6px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.avatar-uploader .el-upload:hover {
	border-color: #20a0ff;
}
.avatar-uploader-icon {
	font-size: 28px;
	color: #8c939d;
	width: 100px;
	height: 100px;
	line-height: 100px !important;
	text-align: center;
}
.avatar {
	width: 100px;
	height: 100px;
	display: block;
}
/*表单线性*/
.inline-form {
	display: inline-block;
	margin-right: 10px;
}
/*模态窗做大宽度*/
.el-dialog--small {
	max-width: 665px;
	top: 10% !important;
}
.el-dialog__title {
	color: white !important;
}
.el-dialog__header {
	color: white !important;
	background: #20a0ff;
	height: 30px;
	 div {
		 display: inline-block;
		 font-size: 18px;
		 height: 30px;
	 }
}

.max-height .el-dialog__body {
	  height: 60vh;
    overflow: auto;
}
// 图片层级
.fullscreen-v-img {
    z-index: 9999;
}
// tree的宽度
// .el-tree-node {
// 	width: 200px;
// }
// 选中导航样式颜色
// .is-active {
// 	background-color: #20a0ff;
// 	color: white !important;
// }
</style>